html {
  scroll-behavior: smooth;
}


.app{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: scroll;
}


::-webkit-scrollbar {
  width: 4px;
  scrollbar-width: thin;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#fff;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575C66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}
